.heading {
  margin: 10px 35%;
}
.ag-theme-alpine {
  margin: auto;
  width: 100%;
  /* overflow-x: hidden; */
}

.note-list {
  font-size: 16px;
  font-style: italic;
  font-family: inherit;
}
.note-list li a {
  color: #eb455a;
}
.flipX {
  animation: 1s anim-flipX ease infinite;
  font-size: 32px;
  color: #f53936;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
